body {
   font-family: 'Montserrat', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif;
}
header{
padding-top: 60px;
}
.container{
 width: 1100px;
 margin: auto;
}
.logo{
margin: 0 auto;
display: block;
}
.offer-wrapper{
   display: flex;
   align-items: center;
   justify-content:space-between;
   margin-top: 77px;
}
.offer{
 width: 459px;
 margin-bottom:24px;
}
.promo{
   color: #000;
   font-family: Open Sans;
   font-size: 50px;
   font-style: normal;
   font-weight: 700;
   line-height: 140%
}
.introtext{
   color: #000;
   font-family: Open Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 400;
   line-height: 136.682%;
   margin-bottom: 45px;
}
.btn{
   display: flex;
   padding: 20px 70px;
   align-items: flex-start;
   border-radius: 100px;
   background: #000;
   gap: 10px;
   color: #FFF;
   font-family: Open Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 136.7%;
   width: 78px;
   text-decoration: none;
}
.btn:hover{
   display: flex;
   padding: 20px 70px;
   align-items: flex-start;
   border-radius: 100px;
   background: #6D50A8;
   gap: 10px;
   color: #FFF;
   font-family: Open Sans;
   font-size: 18px;
   font-style: normal;
   font-weight: 700;
   line-height: 136.7%;
   width: 78px;
   text-decoration: none;
}